.inputSection {
  width: 100%;
  height: 10%;
  position: relative;
  margin-bottom: calc(20px + 2vmin);
}

.inputSection input {
  width: 100%;
  height: 100%;
  color: black;

  border: none;
  font-size: calc(5px + 2vmin);
  outline: none;
  padding-left: 5px;
}

.inputSection input[type="number"]::-webkit-inner-spin-button,
.inputSection input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputLabel {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-size: calc(5px + 2vmin);
  color: black;
}

.inputLabel::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #67dfd4;
  transform: translateX(-100%);
  transition: transform 400ms ease;
}

.labelContent {
  position: absolute;

  left: 5px;
  transition: all 300ms ease;
}

.inputSection input:focus + .inputLabel .labelContent,
.inputSection input:valid + .inputLabel .labelContent {
  transform: translateY(calc(-5px - 2vmin));
  font-size: calc(2px + 2vmin);
  color: #67dfd4;
}

.inputSection input:focus + .inputLabel::after,
.inputSection input:valid + .inputLabel::after {
  transform: translateX(0%);
}

.errorContent {
  transform: translateY(calc(-5px - 2vmin));
  font-size: calc(2px + 2vmin);
  color: #ed706f !important;
}

.errorLabel {
  border-bottom: 2px solid #ed706f;
}
