.BurgerMenu {
  width: calc(30px + 2vmin);
  height: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin-left: 10px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.BurgerMenu #lineOne,
.BurgerMenu #lineTwo,
.BurgerMenu #lineThree {
  width: 80%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.toggle#lineOne {
  transform: rotate(-45deg) translate(-7.5px, 6.5px);
}

.toggle#lineTwo {
  opacity: 0;
}

.toggle#lineThree {
  transform: rotate(45deg) translate(-7.5px, -6.5px);
}

@media (min-width: 1250px) {
  .BurgerMenu {
    display: none;
  }
}
