.App {
  width: 100vw;
}

.VirtualSensor {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  min-height: 500px;
  width: 80vw;
  padding: 0 calc(5px + 2vmin) calc(5px + 2vmin) calc(5px + 2vmin);
  background-color: white;

  margin: 0;
}

.VirtualSensor h1 {
  color: #313840;
  margin: 10px 0 calc(5px + 2vmin) 0;
}

@media (max-width: 1250px) {
  .VirtualSensor {
    margin: auto;
    box-shadow: 5px 3px 5px 1px #ccc;
    border-radius: 50px;
  }
}
